/* Styles for filter */
.filter-container{
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    
}

.category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}